<app-navbar></app-navbar>
<div class="border d-flex justify-content-center align-items-center flex-column">
  <div *ngIf="isSuccess" class="bg-primary-subtle p-3 mt-2 w-100 ">
    {{successMessage}}
  </div>
  <div class="container">
    <div class="row">
      <div class=" d-flex col-4 border">
        <div class="d-flex flex-column  align-items-center justify-content-center">
          <img [src]="siteImgURL" alt="" style="width:100%;height: auto" (error)="onImgError($event)">
          <h4>Site Name: {{siteName}}</h4>

          <h5> URL: {{siteURL}}</h5>

        </div>
      </div>

      <div class="col-8 border p-2">
        <h2 class="text-center">{{formState}} New User & Pssword</h2>
        <p class="text-center">Notes: You can {{formState}} user & password form the below form</p>
        <form action="" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
          <div class="d-flex flex-column mt-2">
            <label class="fw-bold">Email</label>
            <input [(ngModel)]="email" name="email" type="text">
          </div>
          <div class="d-flex flex-column mt-2">
            <label class="fw-bold">Username</label>
            <input [(ngModel)]="username" name="username" type="text">
          </div>
          <div class="d-flex flex-column mt-2">
            <label class="fw-bold">Password</label>
            <input [(ngModel)]="password" name="password" type="password">
          </div>
          <button class="btn btn-primary mt-2">{{formState}} New Password</button>
        </form>
      </div>
    </div>

    <div class="mt-5">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let password of passwordList; let i = index">
            <th>{{i + 1}}</th>
            <td>{{password.email}}</td>
            <td>{{password.username}}</td>
            <td>{{password.password}}
              <button class="btn btn-success" (click)="onDecrypt(password.password, i)">{{cryptStatus}}</button>
            </td>
            <td>
              <button class="btn btn-secondary"
                (click)="editPassword(password.email, password.username, password.password,password.id)">Edit</button> |
              <button class="btn btn-dark" (click)="deletePassword(password.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
