<div class="d-flex align-items-center justify-content-center bg-primary-subtle" id="background" style="height: 100vh;">

  <div class="border border-secondary rounded p-5 w-25" id="transparent">
    <h1 class="mb-5 text-center">SIGN UP</h1>
    <!-- <div *ngIf="isError" class="bg-danger  p-2 m-2">
        The username or password is wrong
      </div> -->
    <div *ngIf="isSuccessAlert" class="bg-warning-subtle p-3 mt-2 ">
      {{successMessage}}
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSignUp()" *ngIf="!isLoading">
      <div class="d-flex flex-column mb-2">
        <label class="fw-bold">Email</label>
        <input class="p-2 rounded-pill w-100 ms-1 border border-secondary" type="email" formControlName="email"
          required>
      </div>
      <div class="d-flex flex-column mb-2">
        <label class="fw-bold">Password</label>
        <input class="p-2 rounded-pill w-100 ms-1 border border-secondary" type="password" formControlName="password"
          required>
      </div>
      <div class="d-flex flex-column mb-2">
        <label class="fw-bold">Re-enter Password</label>
        <input class="p-2 rounded-pill w-100 ms-1 border border-secondary" type="password" formControlName="rePassword"
          required>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Sign up</button>
      <button class="btn btn-info m-2" type="button" (click)="signIn()">Log in</button>

    </form>
  </div>
</div>
